
.TreeView_OutPanel
{	
	padding-left: 0px;
	padding-right: 1px;
	padding-top: 0px;
	padding-bottom: 4px;
	
	/*cursor: hand;*/
	background-color: #E7DADA;
}

.TreeView_Panel
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	/*cursor: hand;*/
	background-color: #F2F2F2;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
}

.TreeView_RootNodeStyle
{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 2px;
	width: 100%;
	font-size: 12px;
}

.TreeView_HoverNodeStyle
{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 2px;
	width: 100%;
	font-size: 12px;
	background-color: #F2F7FB;
	border-top: 1px solid #ECF3F9;
	border-bottom: 1px solid #ECF3F9;
	border-left: 1px solid #ECF3F9;
	border-right: 1px solid #ECF3F9;
}

.TreeView_ParentNodeStyle
{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 2px;
	width: 100%;
	font-size: 12px;
}

.TreeView_NodeStyle
{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 2px;
	width: 100%;
	font-size: 12px;
}
